/*Body*/
body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

/*Content*/
.content {
  max-width: 960px;
  margin: auto;
}

div {
  display: block;
}

/*Header*/
.header {
  background-image: url(/Users/thomasbishop/Documents/Projects/TortoiseshellOptics/resources/images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 18rem;
}

nav span{
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
}

.banner {
  display: flex;
  justify-content: flex-end;
}

.bannertxt {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  height: 3.5rem;
}

/*icons*/
.icons {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  Width: 5rem;
  margin: 3rem;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

.paper img {
  width: 3.5rem;
}

/*Store Information*/
.storeinfo {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
  margin-top: 3rem;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.heading {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  max-width: 10rem;
  height: 1.5rem;
}

.info p {
  padding-top: 1rem;
}

/*Footer*/
.footerinfo {
  max-width: 960px;
  margin: auto;
}

footer {
  background-color: azure;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
