/*Body*/
body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

/*Content*/
.content {
  max-width: 960px;
  margin: auto;
}

div {
  display: block;
}

/*Header*/
.header {
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
}

ul span{
  display: inline;
  padding: 1rem 2rem;
  color: white;
}

.mob {
  display: none;
}

.banner {
  display: flex;
  justify-content: flex-end;
}

.bannertxt {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  height: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  body {
    max-width: 100%;
    margin: auto;
  }

  .content {
    max-width: 100%;
    margin: auto;
  }

  .header {
    padding-top: 0rem;
    height: 18rem;
  }

  .navigation {
    position: fixed;
    width: 100%;
    height: 4rem;
    margin-left: 0rem;
  }

  .banner {
    padding-right: 2rem;
  }

  .bannertxt {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 665px) {
  .desktab {
    display: none;
  }

  .logo span {
    display: none;
  }

  .navigation {
    height: 2.5rem;
  }

  .mob {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 0rem;
    color: white;
    font-size: 1rem;
    font-family: Helvetica;
    display: block;
  }
}
@media only screen and (max-width: 480px) {

  .header {
    background-position: 20%;
    height: 14.5rem;
  }

  .bannertxt {
    width: 100%;
    justify-content: center;
    margin: 10rem auto 0 2rem;;
    padding: 0 1rem;
    font-size: 1rem;
    height: 2rem;
  }
}
/*icons*/
.icons {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  Width: 5rem;
  margin: 3rem;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

.paper img {
  width: 3.5rem;
}

@media only screen and (max-width: 480px) {

  .icons {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem;
  }

  .icon {
    font-size: 1rem;
    margin: 1.54rem 0;
  }
}
/*Store Information*/
.storeinfo {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
  margin-top: 3rem;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.heading {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  max-width: 10rem;
  height: 1.5rem;
}

.info p {
  padding-top: 1rem;
}

@media only screen and (max-width: 480px) {
  .storeinfo {
    flex-direction: column;
  }

  .info {
    width: 100%;
    font-size: 0.77rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
  }

  .heading {
    max-width: 100%;
    text-align: center;
  }

  .info p {
    padding-left: 0.5rem;
  }
}
/*Footer*/
.footerinfo {
  max-width: 960px;
  margin: auto;
}

footer {
  background-color: azure;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 480px) {
  .footerinfo {
    max-width: 100%;
    margin: auto;
  }
  footer span {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 4rem; 0 4rem 0;
  }
}
